@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.recipe_list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.recipe {
  flex: 0 1 30%;
  background-color: var(--primary);
  margin: 8px;
  padding: 20px;
  font-family: "Kalam", sans-serif;
  font-size: 1.2rem;
  -moz-box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.recipe > a > button {
  margin-left: 75%;
  width: 42px;
  height: 42px;
}
.single_recipe {
  font-family: "Kalam", sans-serif;
  font-size: 1.1rem;
  width: 60%;
  margin: 10px auto;
  padding: 20px;
  background-color: var(--primary);
  -moz-box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}
.single_recipe > button {
  padding: 0px;
  border: none;
  margin-left: 95%;
  background-color: transparent;
}
.saved-recipe {
  background-color: var(--primary);
  margin: 8px;
  padding: 10px;
  width: 90%;
  height: 600px;
  overflow: auto;
  font-family: "Kalam", sans-serif;
  -moz-box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

@media only screen and (max-width: 950px) {
  .recipe_list {
    flex-direction: column;
  }
  .recipe {
    flex: 0 80%;
    background-color: var(--primary);
    font-size: 1rem;
    margin: 8px;
    padding: 20px;
    width: 90%;
    transform: none;
  }
  .recipe > a > button {
    margin-left: 80%;
  }
  .single_recipe {
    width: 90%;
  }
  .saved-recipe {
    width: 95%;
  }
}
