@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.recipe_list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe {
  flex: 0 30%;
  background-color: var(--primary);
  margin: 8px;
  padding: 20px;
  width: 100%;
  font-family: "Kalam", sans-serif;
  font-size: 1.2rem;
  -moz-box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.recipe > a > button {
  font-family: "Kalam", sans-serif;
  padding: 5px;
  margin-left: 60%;
}
.single_recipe {
  font-family: "Kalam", sans-serif;
  font-size: 1.1rem;
  width: 60%;
  margin: 10px auto;
  padding: 20px;
  background-color: var(--primary);
  -moz-box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}
.single_recipe > button {
  font-family: "Kalam", sans-serif;
  padding: 5px;
  margin-left: 80%;
}
sup > a {
  text-decoration: underline;
}

button {
  background-color: var(--secondary);
  font-family: "Pangolin";
  font-size: 0.9rem;
  font-weight: 600;
  padding: 8px 5px;
  border-radius: 10%;
  border: solid var(--tertiary) 2px;
  margin: 8px;
  cursor: pointer;
}

.saved-recipe {
  background-color: var(--primary);
  margin: 8px;
  padding: 10px;
  width: 90%;
  height: 600px;
  overflow: auto;
  font-family: "Kalam", sans-serif;
  -moz-box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

button:focus {
  outline: none;
}

button:hover {
  background-color: orangered;
}

@media only screen and (max-width: 950px) {
  /* .recipe_list {
    display: grid;
    grid-template-columns: 1fr;
  } */
  .recipe {
    flex: 0 80%;
    background-color: var(--primary);
    font-size: 1rem;
    margin: 8px;
    padding: 20px;
    width: 90%;
    transform: none;
  }
  .single_recipe {
    width: 90%;
  }
  .saved-recipe {
    width: 95%;
  }
}
